<!DOCTYPE html>
<html>
<head>
  <title>SweaterGenerator</title>
  <meta charset="utf-8" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="row">
  <div class="large-12 columns">
    <div class="nav-bar right">
     <ul class="button-group">
       <li><%= link_to 'Sweaters', sweaters_path, class: "button" %></li>
       <li><%= link_to 'Swatches', swatches_path, class: "button" %></li>
       <li><%= link_to 'Measurements', measurements_path, class: "button" %></li>

       <%- if current_user -%>
       <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "button" %></li>
       <li><%= link_to 'Edit Profile', edit_user_registration_path, class: "button" %></li>

       <%- else -%>
       <li><%= link_to 'Sign Up', new_user_registration_path, class: "button" %></li>
       <li><%= link_to 'Sign In', new_user_session_path, class: "button" %></li>
       <%- end -%>
      </ul>
    </div>
    <h1>Logo</h1>
    <hr/>
  </div>
</div>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>

  <footer class="row" id="footer_margin">
      <div class="large-12 columns">
        <hr/>
        <div class="row">
          <div class="large-12 columns">
            © Meredith Fuhrman ||
            <%= link_to 'github.com/meredithfuhrman', "https://github.com/meredithfuhrman", :target => "_blank" %>
          </div>
        </div>
      </div>
    </footer>
</body>
</html>
